[Unit]
Description=Red Studio NGINX RTMP Admin API
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/nginx-rtmp-module/api
ExecStart=/usr/bin/node /var/www/nginx-rtmp-module/api/server.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production
EnvironmentFile=-/etc/default/nginx-rtmp-api

[Install]
WantedBy=multi-user.target
