listen 443 ssl;
ssl_certificate /etc/letsencrypt/live/live.example.com/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/live.example.com/privkey.pem;
ssl_protocols TLSv1.2 TLSv1.3;
ssl_session_cache shared:SSL:10m;
ssl_session_timeout 1d;
